<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trace-X</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="shortcut icon" href="E.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/public/login.css">
  
</head>
<body>
  <div class="topnav" id="myTopnav">
        
    <a href="/" class="action" >Trace-X</a>
    <a href="/"><i class="fa fa-fw fa-home home"></i>HOME</a>
    <a href="/login"  ><i class="fa fa-book fa-fw blog"></i>LOGIN</a>
      <a href="/register" ><i class="fa fa-fw fa-users team"></i> REGISTER</a>
    <a href="#" class="top"><i class="fas fa-laptop-code relode"></i></i>LOGOUT</a>
                 <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
  


  
  <form class="modal-content animate" action="/send" method="post">

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input class="form-control form-control-sm" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input class="form-control form-control-sm" type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <label for="role"><b>Role</b></label>
      <select name="role" class="form-control">
        <option value = "Producer">Producer</option>
        <option value = "Supplier">Supplier</option>
        <option value = "Seller">Seller</option>
      </select>

      <br>
      <label for="pid"><b>Product ID</b></label>
      <input class="form-control form-control-sm" type="text" placeholder="Enter Product ID" name="pid" required>

      <label for="dat"><b>New Data</b></label>
      <input class="form-control form-control-sm" type="text" placeholder="Enter data" name="dat" required>


      <button type="submit">Login</button>
    </div>

  </form>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>





  